<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">

    <link rel="stylesheet" href="css/orders.css">
    <title>Order</title>
</head>

<body>
    <header>
        <h2 class="logo">Steakhouse</h2>
        <div class="responsive">
            <img src="./assets/menu-icon.png" class="menu-bar">
        </div>
        <form action="/booking" method="get">
            <nav class="navigation">

                <a href="#home" class="active" id="a1">Home</a>
                <a href="#aboutUs" id="a1">About</a>
                <a href="#contactUs" id="a1">Contacts</a>
            </nav>
        </form>
    </header>
    <div class="container">
        <h1 class="heading">Order </h1>

        <div class="order-list">
            <%orders.forEach((order,index)=>{%>
                <div class="card">
                <div class="card-inner">
                <div class="card-front">
                    <div class="card-header">
                        <h3>Order #<%= index%></h3>
                        <h5><%=order.orderedAt%></h5>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>User :<%=order.user%></li>
                            <li>Date :<%=order.date%></li>
                            <li>Time :<%=order.time%></li>
                            <li>Party size :<%=order.partySize%></li>
                            <li>Special req : <%=order.specialRequest%></li>
                        </ul>
                    </div>
                    
                </div>
                <div class="card-back">
                    <h3>food reservation</h3>
                    <hr>
                    <div class="card-body">
                        <% if(order.bill){order.bill.forEach(i=>{%>
                            <div class="item">
                                <div class="item-name"><%=i.name%></div>
                                <div class="item-cost"><%=i.cost%></div>
                            </div>
                            
                            <%})}%>  
                    </div>
                    <hr>
                    <div class="card-footer">
                        <div class="cost">Rs <%if(order.total){%>
                            <%=order.total%>
                           <%}%></div>
                        <div class="status">
                            <img src="assets/check.png" width="30px" alt="complete">
                            <img src="assets/close.png" width="25px" alt="cancel">
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            <%})%>
        </div>
    </div>
</body>

</html>